<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Resume - Jesse Thompson</title>

		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/base.css" rel="stylesheet">

		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
   		<![endif]-->
	</head>
	<body>
		<!-- ABOUT -->
		<section name="about"></section>
		<div class="container intro">
			<div class="row">
				<div class="col-md-3 col-md-offset-1">
					<h5>About</h5>
				</div>
				<div class="col-md-4">
					<p>I’ve done whitebox QE work, traditional desktop software engineering, and now I’m writing web services. I’m highly active in local meetups and constantly learning new technologies and techniques to better my craft.
					</p>
					<p>
					I love this stuff.
					</p>
				</div>
				<div class="col-md-4">
					<address>
						<strong>Seattle, WA </strong>
						</br>
						<small>willing to relocate</small>
						</br>
						<a href="mailto:#">contact@jessejlt.me</a>
						</br>
						<a href="https://twitter.com/jessejlt">twitter</a>
						</br>
						<a href="https://github.com/jessejlt">github</a>
						</br>
						<a href="https://www.linkedin.com/pub/jesse-thompson/90/556/338">linkedin</a>
					</address>
				</div>
			</div>
		</div>

		<!-- EXPERIENCE -->
		<section name="experience"></section>
		<div class="container experience">
			{{range .Experience}}
			<div class="row page-header">
				<div class="col-md-3 col-md-offset-1">
					<h5>{{.Company}}, {{.Team}}</h5>
				</div>
				<div class="col-md-4">
					<dl>
						{{range .Tasks}}
						<dt>{{.Overview}}</dt>

							{{range .Breakdown}}
							<dd>- {{.}}</dd>
							{{end}}

						{{end}}
					</dl>
				</div>
				<div class="col-md-4">
					<h6>{{.Start}} - {{.End}}</h6>
				</div>
			</div>
			{{end}}
		</div>

		<!-- TECH -->
		<section name="technology"></section>
		<div class="container tech">
			<div class="row">
				<div class="row">
				<div class="col-md-3 col-md-offset-1">
					<h5>Technology</h5>
				</div>
				<div class="col-md-4">
					<p>I’ve shipped production applications and services using Golang, Javascript, node.js, and C++, mostly utilizing AWS and Docker. I have passing knowledge of GCE.</p>
				</div>
				<div class="col-md-4">
					<dl class="dl-horizontal">

						{{range .Technology}}
						<dt>{{.Name}}</dt>
						<dd>
							<div class="progress">
							  <div class="progress-bar" role="progressbar" aria-valuenow="{{.Proficiency}}" aria-valuemin="0" aria-valuemax="100" style="width: {{.Proficiency}}%;">
							    <span class="sr-only">{{.Proficiency}}% Complete</span>
							  </div>
							</div>
						</dd>
						{{end}}

					</dl>
				</div>
			</div>
			</div>
		</div>

		<!-- EDU -->
		<section name="education"></section>
		<div class="container edu">
			<div class="row">
				<div class="col-md-3 col-md-offset-1">
					<h5>B.S. in Computer Science</h5>
				</div>
				<div class="col-md-4">
					<p>Portland State University</p>
				</div>
			</div>
		</div>

	</body>
</html>
